In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
# this allows plots to appear directly in the notebook
%matplotlib inline
plt.rcParams['figure.figsize'] = (8, 6)
plt.rcParams['font.size'] = 14
# pip install patsy
# pip install statsmodels
import statsmodels.formula.api as smf
# Set ipython's max row display
pd.set_option('display.max_row', 1000)

# Set iPython's max column width to 50
pd.set_option('display.max_columns', 50)

from IPython.core.display import display, HTML

In [7]:
url_click = '/Users/shaokuixing/Desktop/sql_scripts/mrc_raw_click.csv'

# read csv file without header
click = pd.read_csv(url_click, sep='\t', thousands = '.', decimal =',', header=None)
click.head()

,0,1,2,3,4,5,6
0,108198615012,2016-04-16 11:41:47.204,MOBILE_APP,Windows Phone,108198650893,80,9533
1,108198615012,2016-04-16 11:41:47.204,MOBILE_APP,Windows Phone,108198650893,90,2081
2,108198615012,2016-04-16 11:41:47.204,MOBILE_APP,Windows Phone,108198650893,100,2593
3,109904135427,2016-04-27 16:10:32.395,MOBILE_APP,Windows Phone,109904141898,20,21
4,108193660053,2016-04-16 11:04:16.945,MOBILE_WEB,Windows Phone,108193693000,30,0

In [9]:
click[4].nunique()

63759

In [10]:
click[1].nunique()

56195

In [11]:
click[2].nunique()

2