In [13]:
from IPython.display import HTML

HTML('''<script>
code_show=true;
function code_toggle() {
 if (code_show){
 $('div.input').hide();
 } else {
 $('div.input').show();
 }
 code_show = !code_show
}
$( document ).ready(code_toggle);
</script>
<form action="javascript:code_toggle()"><input type="submit" value="Click here to toggle on/off the raw code."></form>''')

# How Time Viewable Effects Brand Matrix 2016-04-04

In [2]:
import pandas as pd
import numpy as np

In [7]:
# define file path
url_0331 = '/Users/shaokuixing/Desktop/whatever/survey_vt_20160331.csv'

In [37]:
# http://chrisalbon.com/python/pandas_dataframe_importing_csv.html
# read csv file in memory
rawData =pd.read_csv(filepath_or_buffer=url_0331, sep=';', engine='python')
                     

# index_col=['answersetid','answerid'])

In [38]:
# check first 3 rows
rawData.head(2)

,surveyid,originaladid,format,market,uid,answersetid,answerid,questionid,questiontext,optionid,...,iscomplete,isrefgroup,deliveredimp,viewableimp,viewableimp_ic,totalviewtime,funnel,avgVT/impMiliSec,avgVT/ImpSec,avgTVScale
0,291,36430,swipe,FI,"5,57628E+18",256039,700459,83,Next time you are about to use/purchase �categ...,255,...,True,True,1,1,1,1756,Purchase Intent,"1756,0","1,8",1-5
1,291,36432,swipe,FI,"7,21713E+16",256205,700804,86,Is the ad interesting for you?<br><span class=...,264,...,True,False,45,45,45,469664,Interest,"10437,0","10,4",11-15

In [62]:
# create function for calculated column
def vtScale (x):
    if (x['totalviewtime'] > 0) & (x['totalviewtime']<= 5000) :
        return '0-50'    
    return 'others'

In [64]:
rawData.apply (lambda x: vtScale (x),axis=1).head(10)

0      0-50
1    others
2    others
3    others
4    others
5    others
6    others
7      0-50
8      0-50
9    others
dtype: object

In [56]:
# check dataTypes of each column
rawData.dtypes

surveyid             int64
originaladid         int64
format              object
market              object
uid                 object
answersetid          int64
answerid             int64
questionid           int64
questiontext        object
optionid             int64
optiontext          object
iscomplete            bool
isrefgroup            bool
deliveredimp         int64
viewableimp          int64
viewableimp_ic       int64
totalviewtime        int64
funnel              object
avgVT/impMiliSec    object
avgVT/ImpSec        object
avgTVScale          object
dtype: object

In [67]:
# create function for create scale for total time viewable
def vtScale1 (x):
    if (x['totalviewtime'] > 0) & (x['totalviewtime']<= 500) :
        return '0-0.5' 
    if (x['totalviewtime'] >500 ) & (x['totalviewtime']<=1000) :  
        return '0,5-1'
    if (x['totalviewtime'] >1000 ) & (x['totalviewtime']<= 2000) :  
        return '1-2'
    if (x['totalviewtime'] >2000 ) & (x['totalviewtime']<= 3000) :  
        return '2-3'
    if (x['totalviewtime'] >3000 ) & (x['totalviewtime']<= 4000) :  
        return '3-4'
    if (x['totalviewtime'] >4000 ) & (x['totalviewtime']<= 5000) :  
        return '4-5'
    if (x['totalviewtime'] >5000 ) & (x['totalviewtime']<= 6000) :  
        return '5-6'
    if (x['totalviewtime'] >6000 ) & (x['totalviewtime']<= 7000) :  
        return '6-7'
    if (x['totalviewtime'] >7000 ) & (x['totalviewtime']<= 8000) :  
        return '7-8'
    if (x['totalviewtime'] >8000 ) & (x['totalviewtime']<= 9000) :  
        return '8-9'
    if (x['totalviewtime'] >9000 ) & (x['totalviewtime']<= 10000) :  
        return '9-10'
    if (x['totalviewtime'] >10000 ) & (x['totalviewtime']<= 11000) :  
        return '10-11'
    if (x['totalviewtime'] >11000 ) & (x['totalviewtime']<= 12000) :  
        return '11-12'
    if (x['totalviewtime'] >12000 ) & (x['totalviewtime']<= 13000) :  
        return '12-13'
    if (x['totalviewtime'] >13000 ) & (x['totalviewtime']<= 14000) :  
        return '13-14'
    if (x['totalviewtime'] >14000 ) & (x['totalviewtime']<= 15000) :  
        return '14-15'
    if (x['totalviewtime'] >15000 ) & (x['totalviewtime']<= 16000) :  
        return '15-16'
    if (x['totalviewtime'] >16000 ) & (x['totalviewtime']<= 17000) :  
        return '16-17'
    if (x['totalviewtime'] >17000 ) & (x['totalviewtime']<= 18000) :  
        return '17-18'
    if (x['totalviewtime'] >18000 ) & (x['totalviewtime']<= 19000) :  
        return '18-19'
    if (x['totalviewtime'] >19000 ) & (x['totalviewtime']<= 20000) :  
        return '19-20'
    if (x['totalviewtime'] >20000 ) & (x['totalviewtime']<= 21000) :  
        return '20-21'
    if (x['totalviewtime'] >21000 ) & (x['totalviewtime']<= 22000) :  
        return '21-22'
    if (x['totalviewtime'] >22000 ) & (x['totalviewtime']<= 23000) :  
        return '22-23'
    if (x['totalviewtime'] >23000 ) & (x['totalviewtime']<= 24000) :  
        return '23-24'
    if (x['totalviewtime'] >24000 ) & (x['totalviewtime']<= 25000) :  
        return '24-25'
    if (x['totalviewtime'] >25000 ) & (x['totalviewtime']<= 26000) :  
        return '25-26'
    if (x['totalviewtime'] >26000 ) & (x['totalviewtime']<= 27000) :  
        return '26-27'
    if (x['totalviewtime'] >27000 ) & (x['totalviewtime']<= 28000) :  
        return '27-28'
    if (x['totalviewtime'] >28000 ) & (x['totalviewtime']<= 29000) :  
        return '28-29'
    if (x['totalviewtime'] >29000 ) & (x['totalviewtime']<= 30000) :  
        return '29-30'
    if (x['totalviewtime'] >30000 ) & (x['totalviewtime']<= 31000) :  
        return '30-31'
    if (x['totalviewtime'] >31000 ) & (x['totalviewtime']<= 32000) :  
        return '31-32'
    if (x['totalviewtime'] >32000 ) & (x['totalviewtime']<= 33000) :  
        return '32-33'
    if (x['totalviewtime'] >33000 ) & (x['totalviewtime']<= 34000) :  
        return '33-34'
    if (x['totalviewtime'] >34000 ) & (x['totalviewtime']<= 35000) :  
        return '34-35'   
    return 'above 35'

In [69]:
#apply function to see result
rawData.apply (lambda x: vtScale1 (x),axis=1).head(10)

0         1-2
1    above 35
2    above 35
3    above 35
4    above 35
5    above 35
6    above 35
7         4-5
8         4-5
9    above 35
dtype: object

In [77]:
# assign new df applying function for view time scale
viewTimeScale1 = rawData.apply (lambda x: vtScale1 (x),axis=1)
# subset only totalviewtime column
subset_vt = rawData['totalviewtime']
# concat 2 df to 1 df
compare = pd.concat([subset_vt,viewTimeScale1],axis=1,keys=['vt','scale'])
# compare top 10 rows to see accuracy
compare.head(10)

        vt     scale
0     1756       1-2
1   469664  above 35
2  1051296  above 35
3   469664  above 35
4    46640  above 35
5   469664  above 35
6   642844  above 35
7     4254       4-5
8     4254       4-5
9    47520  above 35

In [78]:
# set max display columns
pd.options.display.max_columns = 50

In [80]:

rawData.head(1).transpose()

                                                                  0
surveyid                                                        291
originaladid                                                  36430
format                                                        swipe
market                                                           FI
uid                                                     5,57628E+18
answersetid                                                  256039
answerid                                                     700459
questionid                                                       83
questiontext      Next time you are about to use/purchase �categ...
optionid                                                        255
optiontext                                                        3
iscomplete                                                     True
isrefgroup                                                     True
deliveredimp                                                      1
viewableimp                                                       1
viewableimp_ic                                                    1
totalviewtime                                                  1756
funnel                                              Purchase Intent
avgVT/impMiliSec                                             1756,0
avgVT/ImpSec                                                    1,8
avgTVScale                                                      1-5