In [1]:
from IPython.display import HTML

HTML('''<script>
code_show=true;
function code_toggle() {
 if (code_show){
 $('div.input').hide();
 } else {
 $('div.input').show();
 }
 code_show = !code_show
}
$( document ).ready(code_toggle);
</script>
<form action="javascript:code_toggle()"><input type="submit" value="Click here to toggle on/off the raw code."></form>''')

### 20160425
### 4 month data between nov 2015 and feb 2016
### all formats
### >=50% and 300ms
### inscreen left outer join delivery
### adspaceid, originaladid, surveyadid, formt, market, platform, devicemodel, platformtype, os, adspaceid,premlevel, click, interaction

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
# this allows plots to appear directly in the notebook
%matplotlib inline
plt.rcParams['figure.figsize'] = (8, 6)
plt.rcParams['font.size'] = 14
# pip install patsy
# pip install statsmodels
import statsmodels.formula.api as smf
# Set ipython's max row display
pd.set_option('display.max_row', 1000)

# Set iPython's max column width to 50
pd.set_option('display.max_columns', 50)

from IPython.core.display import display, HTML

In [38]:
# define url
url_0511 = '/Users/shaokuixing/Desktop/whatever/survey50_300_left20160426.csv'

# read csv file without header
rawData = pd.read_csv(url_0511, sep='\t', thousands = '.', decimal =',', header=None)

# add column label
rawData.columns = ['surveyid', 'originaladid','surveyadid','format','market','originaladstarttime',
                   'originaladendtime','surveyresponcetime','uid','answersetid','answerid','questionid',
                   'questiontext','optionid','optiontext','iscomplete','isrefgroup','platformid',
                   'devicemodelid','platformtypeid','osid','adspaceid','premlevel','latestimptime','earliestimptime',
                   'deliveredimp','imp30pct300ms','click','1stinteraction','imp0pct0ms', 'viewtime50pct300ms'                  
                  ]
# see first 2 rows
rawData.head(2)

,surveyid,originaladid,surveyadid,format,market,originaladstarttime,originaladendtime,surveyresponcetime,uid,answersetid,answerid,questionid,questiontext,optionid,optiontext,iscomplete,isrefgroup,platformid,devicemodelid,platformtypeid,osid,adspaceid,premlevel,latestimptime,earliestimptime,deliveredimp,imp30pct300ms,click,1stinteraction,imp0pct0ms,viewtime50pct300ms
0,291,36430,36355,swipe,FI,2015-11-01 23:00:00,2015-11-22 22:59:00,2015-11-04 20:31:57,5857845920412998079,218047,595092,86,Is the ad interesting for you?<br><span class=...,263,2,t,f,200,104110,1,25000,8867,100,2015-11-03 13:38:05.139,2015-11-03 13:38:03.618,1,1,0,0,1,2920
1,291,36430,36355,swipe,FI,2015-11-01 23:00:00,2015-11-22 22:59:00,2015-11-05 09:50:28,388034536731279936,218979,597580,83,Next time you are about to use/purchase §categ...,254,2,t,f,200,102922,1,25000,10181,50,2015-11-05 09:47:16.51,2015-11-03 12:44:51.541,2,1,0,0,1,1056

In [11]:
# check NaN and null values by column
rawData.isnull().any()

surveyid               False
originaladid           False
surveyadid             False
format                 False
market                 False
originaladstarttime    False
originaladendtime      False
surveyresponcetime     False
uid                    False
answersetid            False
answerid               False
questionid             False
questiontext           False
optionid               False
optiontext             False
iscomplete             False
isrefgroup             False
platformid             False
devicemodelid           True
platformtypeid         False
osid                   False
adspaceid              False
premlevel              False
latestimptime          False
earliestimptime        False
deliveredimp           False
imp30pct300ms          False
click                  False
1stinteraction         False
imp0pct0ms             False
viewtime50pct300ms      True
dtype: bool

In [22]:
# check how many null values exist in devicemodelid
print ('no. rows with null deviceModelId :',rawData.devicemodelid.isnull().values.sum())
print ('no. rows with null viewtime50pct300ms :',rawData.devicemodelid.isnull().values.sum())
print ('no. rows and columns in total dataset :',rawData.shape)

('no. rows with null deviceModelId :', 1025)
('no. rows with null viewtime50pct300ms :', 1025)
('no. rows and columns in total dataset :', (512114, 31))

In [28]:
# show 5 random rows of data with devicemodel being null
rawData[rawData.devicemodelid.isnull()].sample(n=5, random_state=0)

,surveyid,originaladid,surveyadid,format,market,originaladstarttime,originaladendtime,surveyresponcetime,uid,answersetid,answerid,questionid,questiontext,optionid,optiontext,iscomplete,isrefgroup,platformid,devicemodelid,platformtypeid,osid,adspaceid,premlevel,latestimptime,earliestimptime,deliveredimp,imp30pct300ms,click,1stinteraction,imp0pct0ms,viewtime50pct300ms
428276,487,38864,39452,takeover,FI,2016-01-13 23:00:00,2016-02-07 21:59:00,2016-01-23 14:42:03,1278836919762939797,371619,1000428,90,How old are you?,284,25-34,t,f,200,NaN,1,25000,13035,80,2016-01-08 16:09:07.954,2016-01-08 16:09:07.626,1,1,0,0,1,9900
16715,320,37017,37112,takeover,FR,2015-11-09 23:00:00,2015-12-27 22:59:00,2015-12-05 07:51:37,6115363262446592620,273555,741567,91,I am,290,Female,t,f,200,NaN,1,25100,12383,100,2015-11-20 11:35:31.737,2015-11-20 11:35:31.737,1,0,0,0,0,NaN
32644,352,36100,37351,takeover,FI,2015-11-12 23:00:00,2015-12-20 21:59:00,2015-12-17 20:44:38,2494753593507054748,304735,830826,86,Is the ad interesting for you?<br><span class=...,264,3,t,f,200,NaN,1,24400,9751,80,2015-12-14 08:43:19.632,2015-12-11 07:52:36.346,3,1,0,0,2,54515
360632,438,38798,39010,takeover,NL,2015-12-22 07:00:00,2016-01-31 22:59:00,2015-12-30 06:07:00,414074184151369928,336740,916984,86,Is the ad interesting for you?<br><span class=...,266,5,t,t,200,NaN,1,24200,10688,50,2015-12-28 13:20:49.689,2015-12-26 20:50:41.813,3,2,0,0,3,230107
464646,494,39640,39719,takeover,FI,2016-01-26 15:15:00,2016-02-19 21:59:00,2016-02-03 12:58:56,4428159927927460041,390321,1042740,91,I am,290,Female,t,f,200,NaN,1,25100,11019,80,2015-12-14 19:14:39.974,2015-12-14 19:14:38.784,1,1,0,0,1,46888

In [29]:
# show 5 random rows of data with viewtime being null
rawData[rawData.viewtime50pct300ms.isnull()].sample(n=5, random_state=0)

,surveyid,originaladid,surveyadid,format,market,originaladstarttime,originaladendtime,surveyresponcetime,uid,answersetid,answerid,questionid,questiontext,optionid,optiontext,iscomplete,isrefgroup,platformid,devicemodelid,platformtypeid,osid,adspaceid,premlevel,latestimptime,earliestimptime,deliveredimp,imp30pct300ms,click,1stinteraction,imp0pct0ms,viewtime50pct300ms
128083,412,37938,38529,takeover,SE,2015-12-22 23:00:00,2015-12-27 22:59:00,2015-12-22 12:38:27,5231395000856403394,320933,876429,83,Next time you are about to use/purchase §categ...,255,3,t,f,200,102974,1,24400,5791,70,2015-12-18 08:25:39.093,2015-12-18 08:25:39.093,1,0,0,0,0,NaN
116386,412,35912,38530,takeover,SE,2015-11-30 23:00:00,2015-12-21 22:59:00,2015-12-15 21:14:37,1541464092701817227,299066,814461,84,Have you seen this ad on a mobile device before?,258,No,t,t,100,100000,1,17100,7511,70,2015-12-15 21:09:39.272,2015-12-15 21:09:39.272,1,0,0,0,0,NaN
37871,370,35335,37913,takeover,UK,2015-11-25 23:00:00,2015-12-20 22:59:00,2015-12-01 12:22:17,8938715974323840301,267021,725310,90,How old are you?,284,25-34,t,f,100,103010,1,18400,13544,70,2015-11-25 16:14:09.157,2015-11-25 16:14:09.157,1,0,0,0,0,NaN
277877,415,38369,38572,takeover,SE,2015-12-08 23:00:00,2015-12-24 22:59:00,2015-12-18 21:59:49,6604673828460915347,309286,843756,83,Next time you are about to use/purchase §categ...,253,1,t,t,200,103546,1,24400,7529,30,2015-11-10 19:25:39.297,2015-11-10 19:25:39.297,1,0,0,0,0,NaN
136771,412,37939,38530,takeover,SE,2015-12-27 23:00:00,2015-12-28 22:59:00,2015-12-20 14:17:15,4565499719095470341,314355,858776,83,Next time you are about to use/purchase §categ...,256,4,t,t,200,106142,1,25000,10424,90,2015-11-27 08:31:42.979,2015-11-27 08:31:42.979,1,0,0,0,0,NaN

In [48]:
# fill all null values with 0
rawData['viewtime50pct300ms']=rawData.viewtime50pct300ms.fillna(0)
rawData['devicemodelid']=rawData.devicemodelid.fillna(0)
# copy data
df1=rawData.copy()
# check if any data point is null at all
df1.isnull().any().any()

False

In [70]:
# define url
url_adspace = '/Users/shaokuixing/Desktop/whatever/adspace_apptype_channel.csv'

# read csv file without header
adspace = pd.read_csv(url_adspace, sep=',', thousands = '.', decimal =',')

# show adspace 5 rows
adspace.sample(5)

adspace.shape

(12172, 4)

In [46]:
import sqlite3
from pandas.io import sql
cnx = sqlite3.connect(':memory:', timeout=3000)
cnx.text_factory = str

In [71]:
# write to database
sql.to_sql(df1, name = 'df1', con=cnx, if_exists='replace')
sql.to_sql(adspace, name = 'adspace', con=cnx, if_exists='replace')

In [72]:
# join 2 data sets
df2 = sql.read_sql("select * from df1 d left outer join adspace s on d.adspaceid=s.adspaceid;",cnx)
df2.sample(5)

,index,surveyid,originaladid,surveyadid,format,market,originaladstarttime,originaladendtime,surveyresponcetime,uid,answersetid,answerid,questionid,questiontext,optionid,optiontext,iscomplete,isrefgroup,platformid,devicemodelid,platformtypeid,osid,adspaceid,premlevel,latestimptime,earliestimptime,deliveredimp,imp30pct300ms,click,1stinteraction,imp0pct0ms,viewtime50pct300ms,index,adspaceid,apptype,apptypegroup,channel
61050,61050,386,36563,38144,takeover,SE,2015-11-11 23:00:00,2015-12-23 22:59:00,2015-12-12 08:33:18,2556890233898831487,288680,783223,90,How old are you?,285,35-44,t,f,200,100312,1,25100,5523,70,2015-11-10 19:26:15.602,2015-11-10 19:26:06.442,1,1,0,0,0,0,2902,5523,MOBILE_WEB,MOBILE_WEB,Family
208718,208718,415,38360,38572,takeover,SE,2015-12-08 23:00:00,2015-12-24 22:59:00,2015-12-17 11:50:17,413881680447976759,303054,825910,83,Next time you are about to use/purchase §categ...,255,3,t,t,100,104772,1,19000,5674,70,2015-12-15 17:42:34.252,2015-12-10 16:16:28.038,10,6,0,0,6,41012,3031,5674,MOBILE_WEB,MOBILE_WEB,News
467903,467903,494,39640,39719,takeover,FI,2016-01-26 15:15:00,2016-02-19 21:59:00,2016-02-04 01:42:28,3800840037040497076,391964,1047004,83,Next time you are about to use/purchase §categ...,255,3,t,f,200,110586,1,25100,9466,80,2016-01-09 16:36:13.227,2016-01-09 16:36:12.687,1,1,0,0,1,21310,6187,9466,MOBILE_WEB,MOBILE_WEB,Sports
451288,451288,488,39492,39507,takeover,UK,2016-02-08 23:00:00,2016-02-21 22:59:00,2016-01-30 01:31:56,6497889512902414551,381275,1022383,90,How old are you?,284,25-34,t,f,200,103362,1,25000,10099,60,2016-01-26 15:49:16.989,2016-01-20 18:39:27.703,2,2,0,1,2,50428,6806,10099,MOBILE_WEB,MOBILE_WEB,Gaming/Social Apps
433781,433781,488,39439,39507,takeover,UK,2016-02-09 23:00:00,2016-02-28 22:59:00,2016-01-25 16:11:33,2189664497076494566,374230,1006061,86,Is the ad interesting for you?<br><span class=...,265,4,t,f,200,100300,1,24400,14518,70,2015-11-18 00:10:38.82,2015-11-18 00:07:39.193,2,0,0,0,0,0,11160,14518,MOBILE_WEB,MOBILE_WEB,News

In [75]:
# check if the joined datasets contain null value
df2.isnull().any().any()

False

In [77]:
# check number of column and rows of data
df2.shape

(512114, 37)

In [89]:
# look at all columns vertically
df2.head(1).transpose()

                                                                     0
index                                                                0
surveyid                                                           291
originaladid                                                     36430
surveyadid                                                       36355
format                                                           swipe
market                                                              FI
originaladstarttime                                2015-11-01 23:00:00
originaladendtime                                  2015-11-22 22:59:00
surveyresponcetime                                 2015-11-04 20:31:57
uid                                                5857845920412998079
answersetid                                                     218047
answerid                                                        595092
questionid                                                          86
questiontext         Is the ad interesting for you?<br><span class=...
optionid                                                           263
optiontext                                                           2
iscomplete                                                           t
isrefgroup                                                           f
platformid                                                         200
devicemodelid                                                   104110
platformtypeid                                                       1
osid                                                             25000
adspaceid                                                         8867
premlevel                                                          100
latestimptime                                  2015-11-03 13:38:05.139
earliestimptime                                2015-11-03 13:38:03.618
deliveredimp                                                         1
imp30pct300ms                                                        1
click                                                                0
1stinteraction                                                       0
imp0pct0ms                                                           1
viewtime50pct300ms                                                2920
index                                                             5608
adspaceid                                                         8867
apptype                                                     MOBILE_WEB
apptypegroup                                                MOBILE_WEB
channel                                                         Family

In [94]:
# count rows by format
df2.format.value_counts()

takeover             450351
swipe                 58514
tablet_halfscreen      2589
interstitial            660
Name: format, dtype: int64

In [96]:
# select subset based on column values condition OR
# select only takeover and swipe formats
df3=df2.copy()
df3 = df3[(df3.format != 'takeover')|(df3.format != 'swipe')]
df3.sample(5)

,index,surveyid,originaladid,surveyadid,format,market,originaladstarttime,originaladendtime,surveyresponcetime,uid,answersetid,answerid,questionid,questiontext,optionid,optiontext,iscomplete,isrefgroup,platformid,devicemodelid,platformtypeid,osid,adspaceid,premlevel,latestimptime,earliestimptime,deliveredimp,imp30pct300ms,click,1stinteraction,imp0pct0ms,viewtime50pct300ms,index,adspaceid,apptype,apptypegroup,channel
51416,51416,378,38020,38043,swipe,SE,2015-12-10 09:00:00,2015-12-24 11:00:00,2015-12-15 20:57:56,4144467508521589890,299027,814307,83,Next time you are about to use/purchase §categ...,255,3,t,t,100,102719,1,17100,1947,70,2015-12-01 11:46:30.549,2015-12-01 11:46:27.746,1,1,0,0,1,6466,1261,1947,MOBILE_WEB,MOBILE_WEB,Sports
219369,219369,415,38362,38571,takeover,SE,2015-12-08 23:00:00,2015-12-24 22:59:00,2015-12-17 20:22:15,5042704927228812263,304662,830546,83,Next time you are about to use/purchase §categ...,255,3,t,f,100,102719,1,19100,12988,60,2015-12-15 19:29:56.206,2015-12-15 19:29:55.816,1,1,0,0,1,9954,9669,12988,IPHONE_APP,MOBILE_APP,Entertainment
327436,327436,422,38597,38713,takeover,FI,2015-12-06 23:00:00,2016-01-10 21:59:00,2016-01-01 09:38:54,922165521373547931,339828,923775,86,Is the ad interesting for you?<br><span class=...,264,3,t,t,200,102922,1,25000,13434,30,2015-12-15 17:04:21.237,2015-12-15 17:04:21.237,1,0,0,0,0,0,10111,13434,MOBILE_WEB,MOBILE_WEB,Other
195566,195566,415,38359,38571,takeover,SE,2015-12-08 23:00:00,2015-12-24 22:59:00,2015-12-20 07:12:17,414081185717611347,313243,855469,84,Have you seen this ad on a mobile device before?,258,No,t,f,200,102819,1,24200,13083,50,2015-12-18 11:09:09.10,2015-12-11 09:17:24.848,11,2,0,0,2,3827,9762,13083,MOBILE_WEB,MOBILE_WEB,Other
385787,385787,454,39098,39223,takeover,SE,2016-01-10 23:00:00,2016-01-17 22:59:00,2016-01-20 00:30:54,413791728115103718,366066,988137,84,Have you seen this ad on a mobile device before?,258,No,t,f,100,100000,1,19000,10423,90,2015-12-22 19:45:32.386,2015-12-22 19:45:30.721,1,1,0,0,1,5280,7127,10423,MOBILE_WEB,MOBILE_WEB,Other