In [13]:
from IPython.display import HTML

HTML('''<script>
code_show=true;
function code_toggle() {
 if (code_show){
 $('div.input').hide();
 } else {
 $('div.input').show();
 }
 code_show = !code_show
}
$( document ).ready(code_toggle);
</script>
<form action="javascript:code_toggle()"><input type="submit" value="Click here to toggle on/off the raw code."></form>''')

# How Time Viewable Effects Brand Matrix 2016-04-04

In [2]:
import pandas as pd
import numpy as np

In [7]:
# define file path
url_0331 = '/Users/shaokuixing/Desktop/whatever/survey_vt_20160331.csv'

In [163]:
# http://chrisalbon.com/python/pandas_dataframe_importing_csv.html
# read csv file in memory
rawData =pd.read_csv(filepath_or_buffer=url_0331, sep=';', thousands = '.',decimal=',')
                     

# index_col=['answersetid','answerid'])

In [164]:
# check first 3 rows
rawData.head(2)

,surveyid,originaladid,format,market,uid,answersetid,answerid,questionid,questiontext,optionid,optiontext,iscomplete,isrefgroup,deliveredimp,viewableimp,viewableimp_ic,totalviewtime,funnel,avgVT/impMiliSec,avgVT/ImpSec,avgTVScale
0,291,36430,swipe,FI,5.576280e+18,256039,700459,83,Next time you are about to use/purchase �categ...,255,3,True,True,1,1,1,1756,Purchase Intent,1756,1.8,1-5
1,291,36432,swipe,FI,7.217130e+16,256205,700804,86,Is the ad interesting for you?<br><span class=...,264,3,True,False,45,45,45,469664,Interest,10437,10.4,11-15

In [62]:
# create function for calculated column
def vtScale (x):
    if (x['totalviewtime'] > 0) & (x['totalviewtime']<= 5000) :
        return '0-50'    
    return 'others'

In [64]:
rawData.apply (lambda x: vtScale (x),axis=1).head(10)

0      0-50
1    others
2    others
3    others
4    others
5    others
6    others
7      0-50
8      0-50
9    others
dtype: object

In [56]:
# check dataTypes of each column
rawData.dtypes

surveyid             int64
originaladid         int64
format              object
market              object
uid                 object
answersetid          int64
answerid             int64
questionid           int64
questiontext        object
optionid             int64
optiontext          object
iscomplete            bool
isrefgroup            bool
deliveredimp         int64
viewableimp          int64
viewableimp_ic       int64
totalviewtime        int64
funnel              object
avgVT/impMiliSec    object
avgVT/ImpSec        object
avgTVScale          object
dtype: object

In [242]:
# create function for create scale for total time viewable
def vtScale1 (x):
    if (x['totalviewtime'] > 0) & (x['totalviewtime']<= 500) :
        return '0-0.5' 
    if (x['totalviewtime'] >500 ) & (x['totalviewtime']<=1000) :  
        return '0,5-1'
    if (x['totalviewtime'] >1000 ) & (x['totalviewtime']<= 2000) :  
        return '1-2'
    if (x['totalviewtime'] >2000 ) & (x['totalviewtime']<= 3000) :  
        return '2-3'
    if (x['totalviewtime'] >3000 ) & (x['totalviewtime']<= 4000) :  
        return '3-4'
    if (x['totalviewtime'] >4000 ) & (x['totalviewtime']<= 5000) :  
        return '4-5'
    if (x['totalviewtime'] >5000 ) & (x['totalviewtime']<= 6000) :  
        return '5-6'
    if (x['totalviewtime'] >6000 ) & (x['totalviewtime']<= 7000) :  
        return '6-7'
    if (x['totalviewtime'] >7000 ) & (x['totalviewtime']<= 8000) :  
        return '7-8'
    if (x['totalviewtime'] >8000 ) & (x['totalviewtime']<= 9000) :  
        return '8-9'
    if (x['totalviewtime'] >9000 ) & (x['totalviewtime']<= 10000) :  
        return '9-10'
    if (x['totalviewtime'] >10000 ) & (x['totalviewtime']<= 11000) :  
        return '10-11'
    if (x['totalviewtime'] >11000 ) & (x['totalviewtime']<= 12000) :  
        return '11-12'
    if (x['totalviewtime'] >12000 ) & (x['totalviewtime']<= 13000) :  
        return '12-13'
    if (x['totalviewtime'] >13000 ) & (x['totalviewtime']<= 14000) :  
        return '13-14'
    if (x['totalviewtime'] >14000 ) & (x['totalviewtime']<= 15000) :  
        return '14-15'
    if (x['totalviewtime'] >15000 ) & (x['totalviewtime']<= 16000) :  
        return '15-16'
    if (x['totalviewtime'] >16000 ) & (x['totalviewtime']<= 17000) :  
        return '16-17'
    if (x['totalviewtime'] >17000 ) & (x['totalviewtime']<= 18000) :  
        return '17-18'
    if (x['totalviewtime'] >18000 ) & (x['totalviewtime']<= 19000) :  
        return '18-19'
    if (x['totalviewtime'] >19000 ) & (x['totalviewtime']<= 20000) :  
        return '19-20'
    if (x['totalviewtime'] >20000 ) & (x['totalviewtime']<= 21000) :  
        return '20-21'
    if (x['totalviewtime'] >21000 ) & (x['totalviewtime']<= 22000) :  
        return '21-22'
    if (x['totalviewtime'] >22000 ) & (x['totalviewtime']<= 23000) :  
        return '22-23'
    if (x['totalviewtime'] >23000 ) & (x['totalviewtime']<= 24000) :  
        return '23-24'
    if (x['totalviewtime'] >24000 ) & (x['totalviewtime']<= 25000) :  
        return '24-25'
    if (x['totalviewtime'] >25000 ) & (x['totalviewtime']<= 26000) :  
        return '25-26'
    if (x['totalviewtime'] >26000 ) & (x['totalviewtime']<= 27000) :  
        return '26-27'
    if (x['totalviewtime'] >27000 ) & (x['totalviewtime']<= 28000) :  
        return '27-28'
    if (x['totalviewtime'] >28000 ) & (x['totalviewtime']<= 29000) :  
        return '28-29'
    if (x['totalviewtime'] >29000 ) & (x['totalviewtime']<= 30000) :  
        return '29-30'
    if (x['totalviewtime'] >30000 ) & (x['totalviewtime']<= 31000) :  
        return '30-31'
    if (x['totalviewtime'] >31000 ) & (x['totalviewtime']<= 32000) :  
        return '31-32'
    if (x['totalviewtime'] >32000 ) & (x['totalviewtime']<= 33000) :  
        return '32-33'
    if (x['totalviewtime'] >33000 ) & (x['totalviewtime']<= 34000) :  
        return '33-34'
    if (x['totalviewtime'] >34000 ) & (x['totalviewtime']<= 35000) :  
        return '34-35'   
    return 'above 35'

In [243]:
#apply function to see result
rawData.apply (lambda x: vtScale1 (x),axis=1).head(10)

0         1-2
1    above 35
2    above 35
3    above 35
4    above 35
5    above 35
6    above 35
7         4-5
8         4-5
9    above 35
dtype: object

In [244]:
# assign new df applying function for view time scale
viewTimeScale1 = rawData.apply (lambda x: vtScale1 (x),axis=1)
# subset only totalviewtime column
subset_vt = rawData['totalviewtime']
# concat 2 df to 1 df
compare = pd.concat([subset_vt,viewTimeScale1],axis=1,keys=['vt','scale'])
# compare top 10 rows to see accuracy
compare.head(10)

        vt     scale
0     1756       1-2
1   469664  above 35
2  1051296  above 35
3   469664  above 35
4    46640  above 35
5   469664  above 35
6   642844  above 35
7     4254       4-5
8     4254       4-5
9    47520  above 35

In [78]:
# set max display columns
pd.options.display.max_columns = 50

In [80]:
# show all column labels vertically
rawData.head(1).transpose()

                                                                  0
surveyid                                                        291
originaladid                                                  36430
format                                                        swipe
market                                                           FI
uid                                                     5,57628E+18
answersetid                                                  256039
answerid                                                     700459
questionid                                                       83
questiontext      Next time you are about to use/purchase �categ...
optionid                                                        255
optiontext                                                        3
iscomplete                                                     True
isrefgroup                                                     True
deliveredimp                                                      1
viewableimp                                                       1
viewableimp_ic                                                    1
totalviewtime                                                  1756
funnel                                              Purchase Intent
avgVT/impMiliSec                                             1756,0
avgVT/ImpSec                                                    1,8
avgTVScale                                                      1-5

In [245]:
# create subset of raw data
rd1 = rawData[['answersetid','answerid','questionid','questiontext','optionid','optiontext','viewableimp_ic','totalviewtime','funnel',
             'avgVT/ImpSec','avgTVScale']]
rd1.head(2)

,answersetid,answerid,questionid,questiontext,optionid,optiontext,viewableimp_ic,totalviewtime,funnel,avgVT/ImpSec,avgTVScale
0,256039,700459,83,Next time you are about to use/purchase �categ...,255,3,1,1756,Purchase Intent,1.8,1-5
1,256205,700804,86,Is the ad interesting for you?<br><span class=...,264,3,45,469664,Interest,10.4,11-15

In [246]:
# create new function based on average view time per imp

def FuncAvgVTScale (x):
    if (x['avgVT/ImpSec'] >0.5 ) & (x['avgVT/ImpSec']<=1) :  
        return '0.5-1'
    if (x['avgVT/ImpSec'] >1 ) & (x['avgVT/ImpSec']<=2) :  
        return '1-2'
    if (x['avgVT/ImpSec'] >2 ) & (x['avgVT/ImpSec']<=3) :  
        return '2-3'
    if (x['avgVT/ImpSec'] >3 ) & (x['avgVT/ImpSec']<=4) :  
        return '3-4'
    if (x['avgVT/ImpSec'] >4 ) & (x['avgVT/ImpSec']<=5) :  
        return '4-5'
    if (x['avgVT/ImpSec'] >5 ) & (x['avgVT/ImpSec']<=6) :  
        return '5-6'
    if (x['avgVT/ImpSec'] >6 ) & (x['avgVT/ImpSec']<=7) :  
        return '6-7'
    if (x['avgVT/ImpSec'] >7 ) & (x['avgVT/ImpSec']<=8) :  
        return '7-8'
    if (x['avgVT/ImpSec'] >8 ) & (x['avgVT/ImpSec']<=9) :  
        return '8-9'
    if (x['avgVT/ImpSec'] >9 ) & (x['avgVT/ImpSec']<=10) :  
        return '9-10'
    if (x['avgVT/ImpSec'] >10 ) & (x['avgVT/ImpSec']<=11) :  
        return '10-11'
    if (x['avgVT/ImpSec'] >11 ) & (x['avgVT/ImpSec']<=12) :  
        return '11-12'
    if (x['avgVT/ImpSec'] >12 ) & (x['avgVT/ImpSec']<=13) :  
        return '12-13'
    if (x['avgVT/ImpSec'] >13 ) & (x['avgVT/ImpSec']<=14) :  
        return '13-14'
    if (x['avgVT/ImpSec'] >14 ) & (x['avgVT/ImpSec']<=15) :  
        return '14-15'
    if (x['avgVT/ImpSec'] >15 ) & (x['avgVT/ImpSec']<=16) :  
        return '15-16'
    if (x['avgVT/ImpSec'] >16 ) & (x['avgVT/ImpSec']<=17) :  
        return '16-17'
    if (x['avgVT/ImpSec'] >17 ) & (x['avgVT/ImpSec']<=18) :  
        return '17-18'
    if (x['avgVT/ImpSec'] >18 ) & (x['avgVT/ImpSec']<=19) :  
        return '18-19'
    if (x['avgVT/ImpSec'] >19 ) & (x['avgVT/ImpSec']<=20) :  
        return '19-20'
    if (x['avgVT/ImpSec'] >20 ) & (x['avgVT/ImpSec']<=21) :  
        return '20-21'
    if (x['avgVT/ImpSec'] >21 ) & (x['avgVT/ImpSec']<=22) :  
        return '21-22'
    if (x['avgVT/ImpSec'] >22 ) & (x['avgVT/ImpSec']<=23) :  
        return '22-23'
    if (x['avgVT/ImpSec'] >23 ) & (x['avgVT/ImpSec']<=24) :  
        return '23-24'
    if (x['avgVT/ImpSec'] >24 ) & (x['avgVT/ImpSec']<=25) :  
        return '24-25'
    if (x['avgVT/ImpSec'] >25 ) & (x['avgVT/ImpSec']<=26) :  
        return '25-26'
    if (x['avgVT/ImpSec'] >26 ) & (x['avgVT/ImpSec']<=27) : 
        return '26-27'
    if (x['avgVT/ImpSec'] >27 ) & (x['avgVT/ImpSec']<=28) :  
        return '27-28'
    if (x['avgVT/ImpSec'] >28 ) & (x['avgVT/ImpSec']<=29) :  
        return '28-29'
    if (x['avgVT/ImpSec'] >29 ) & (x['avgVT/ImpSec']<=30) :  
        return '29-30'
    if (x['avgVT/ImpSec'] >30 ) & (x['avgVT/ImpSec']<=31) :  
        return '30-31'
    if (x['avgVT/ImpSec'] >31 ) & (x['avgVT/ImpSec']<=32) :  
        return '31-32'
    if (x['avgVT/ImpSec'] >32 ) & (x['avgVT/ImpSec']<=33) :  
        return '32-33'
    if (x['avgVT/ImpSec'] >33 ) & (x['avgVT/ImpSec']<=34) :  
        return '33-34'
    if (x['avgVT/ImpSec'] >34 ) & (x['avgVT/ImpSec']<=35) :  
        return '34-35'
    return 'above 35'

In [247]:
rawData['avgVT/ImpSec'].head(5)

0     1.8
1    10.4
2    21.0
3    10.4
4    46.6
Name: avgVT/ImpSec, dtype: float64

In [216]:
# rd0 = rawData['avgVT/ImpSec']
# rd0=rawData['avgVT/ImpSec'].apply(pd.to_numeric, args = ('coerce',))
# rd0.dtypes
# rd0=rawData['avgVT/ImpSec'].replace(',','.').astype(float).fillna(0.0)
# print(repr(rawData['avgVT/ImpSec']))
# rawData['totalviewtime']/1000
# float(rawData['avgVT/ImpSec'].replace(',', '.'))
# rd0 = rawData['avgVT/ImpSec'].astype(str).replace(',', '.')

rawData.dtypes

surveyid              int64
originaladid          int64
format               object
market               object
uid                 float64
answersetid           int64
answerid              int64
questionid            int64
questiontext         object
optionid              int64
optiontext           object
iscomplete             bool
isrefgroup             bool
deliveredimp          int64
viewableimp           int64
viewableimp_ic        int64
totalviewtime         int64
funnel               object
avgVT/impMiliSec    float64
avgVT/ImpSec        float64
avgTVScale           object
dtype: object

In [250]:
# assign new df applying function for avg view time scale
# rd0 = rawData['avgVT/ImpSec']
nd1.apply(lambda x: FuncAvgVTScale(x),axis=1).head(10)

0         1-2
1       10-11
2       20-21
3       10-11
4    above 35
5       10-11
6         8-9
7         2-3
8         2-3
9       15-16
dtype: object

In [254]:
# assign calculated df to an object
nd0 = nd1.apply(lambda x: FuncAvgVTScale(x),axis=1).head(10)
# append 2 df together
nd3 = pd.concat([nd1,nd0],axis=1)
# nd1 = nd1.rename(columns={'0': 'vtScale1'})
# rename column names
nd3.columns= ['answersetid','answerid','questionid','questiontext','optionid','optiontext','viewableimp_ic',
'totalviewtime','funnel','avgVT/ImpSec','avgVTScale0','totalvtscale0','avgTVScale1']
# show top 5 rows
nd3.head(5)

,answersetid,answerid,questionid,questiontext,optionid,optiontext,viewableimp_ic,totalviewtime,funnel,avgVT/ImpSec,avgVTScale0,totalvtscale0,avgTVScale1
0,256039,700459,83,Next time you are about to use/purchase �categ...,255,3,1,1756,Purchase Intent,1.8,1-5,above 35,1-2
1,256205,700804,86,Is the ad interesting for you?<br><span class=...,264,3,45,469664,Interest,10.4,11-15,above 35,10-11
2,256196,700781,84,Have you seen this ad on a mobile device before?,258,No,50,1051296,Recall,21.0,21-25,above 35,20-21
3,256205,700803,84,Have you seen this ad on a mobile device before?,258,No,45,469664,Recall,10.4,11-15,above 35,10-11
4,223971,611468,86,Is the ad interesting for you?<br><span class=...,263,2,1,46640,Interest,46.6,ABOVE 31,above 35,above 35

In [255]:
url2="/Users/shaokuixing/Desktop/whatever/survey_viewtime_per_pct.csv"
rd_pct=pd.read_csv(url2, sep='\t', decimal=',')
#rd_pct.head()
#rd_pct.dtypes
rd_pct[rd_pct['click']>=1].head(1)

,surveyid,originaladid,uid,answersetid,answerid,questionid,questiontext,optionid,optiontext,iscomplete,isrefgroup,sizepct,deliveredimp,viewableimp,click,firstinteraction,imp_ic,viewtimeperpct
418,291,36430,1010908421766389630,254910,697213,83,Next time you are about to use/purchase §categ...,253,1,True,False,100,8,8,1,1,8,96280

In [172]:
import sqlite3

In [173]:
from pandas.io import sql

In [178]:
cnx = sqlite3.connect(':memeory:')
cnx.text_factory = str

In [192]:
sql.to_sql(rd_pct, name = 'table_pct3', con=cnx, if_exists='replace')

In [197]:
import pandas.io.sql as pd_sql
pd_sql.execute("DELETE FROM table_pct1", cnx)
pd_sql.execute("DELETE FROM table_pct2", cnx)
pd_sql.execute("SELECT name from sqlite_master WHERE type='table';", cnx)

In [198]:
sql.read_sql("select * from table_pct3 limit 1",cnx)

,index,surveyid,originaladid,uid,answersetid,answerid,questionid,questiontext,optionid,optiontext,iscomplete,isrefgroup,sizepct,deliveredimp,viewableimp,click,firstinteraction,imp_ic,viewtimeperpct
0,0,291,36430,5857845920412998079,218047,595084,83,Next time you are about to use/purchase §categ...,257,5,1,0,100,1,1,0,0,1,5560

In [212]:
# cnx.close()
# http://www.bogotobogo.com/python/python_sqlite_connect_create_drop_table.php

In [210]:
#rawData.info()
#rawData.info(memory_usage='deep')
rawData.memory_usage(index=False)

surveyid            561608
originaladid        561608
format              561608
market              561608
uid                 561608
answersetid         561608
answerid            561608
questionid          561608
questiontext        561608
optionid            561608
optiontext          561608
iscomplete           70201
isrefgroup           70201
deliveredimp        561608
viewableimp         561608
viewableimp_ic      561608
totalviewtime       561608
funnel              561608
avgVT/impMiliSec    561608
avgVT/ImpSec        561608
avgTVScale          561608
dtype: int64

NameError: name 'gc' is not defined